*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


body{
    background-color: #202632;
    color: white;
}


.cart{
    margin: 5% auto;
    height: 280px;
    width: 500px;
    background-color: #313A49;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid #313A49 ;
    border-radius: 2%;
    font-weight: 800;
    
    
}


.advice-number{
    margin-top: 40px;
    color:#53FFAB;
    
}

.advice{
    padding: 20px;
}

.divider-desktop{
    padding-top: 25px;
}
.mobile-div{
    display: none;
}

.dice{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #53FFAB;
    bottom: -25px;
    transition: 0.3s all ease;
    cursor: pointer;
}

.dice:hover{
-webkit-box-shadow: 0px 0px 15px 3px rgba(83,255,171,0.58); 
box-shadow: 0px 0px 15px 3px rgba(83,255,171,0.58);
}


@media screen and (max-width:700px) {

    .cart{
        margin: 25% auto;
        height: 260px;
        width: 370px;
        background-color: #313A49;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 2px solid #313A49 ;
        border-radius: 2%;
        font-weight: 800;
    }
    .desktop-div{
        display: none;
    }
    .mobile-div{
        display: block;
    }

    
.dice{
    

    display: flex;
    min-height: 50px;
   bottom: -5px;
    
}

}